# Visual Studio 2015 user specific files
.vs/

SkyWorthXR_Demo/Plugins/SnapdragonVR/SnapdragonVRHMD/Intermediate/
SkyWorthXR_Demo/Content/PolygonCity/Maps/Demonstration_BuiltData.uasset
SkyWorthXR_Demo/Content/VirtualRealityBP/Maps/MotionControllerMap_BuiltData.uasset
SkyWorthXR_Demo/Intermediate/
SkyWorthXR_Demo/Saved/
SkyWorthXR_Demo/SkyWorthXR_Demo.sln
SkyWorthXR_Demo/DerivedDataCache/
